main{
    margin-top: 125px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 50% 50%;
    width: 80%;
    margin-left: 20%;
    height: 71.5%;
    position: fixed;
    grid-template-columns: 100%;
    overflow-y: auto;
}

.order_tracking_container{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

.order_tracking_wrapper{
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.order_tracking_wrapper img{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.order_tracking_wrapper .acceptedFood{
    -webkit-animation-name: img;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    opacity: 0;
}

@-webkit-keyframes img {
    0% {
        opacity: 1;
        left: 100%;
        transition: 1s;
    }

    50%{
        left: -100%;
        transition: 1s;
    }

    100%{
        left: -100%;
        transition: 1s;
    }
}

.order_tracking_wrapper .startedFood{
    -webkit-animation-name: img;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 5s;
    opacity: 0;
}

.order_tracking_wrapper .deliveredFood{
    height: 230px;
    -webkit-animation-name: img;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 10s;
    opacity: 0;
}

.order_tracking_text{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    height: 80px;
    color: #ffaf41;
}

.order_tracking_text span{
    position: absolute;
    width: max-content;
    opacity: 0;
}

.order_tracking_text .fo_accept_txt{
    -webkit-animation-name: text;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes text {
    0% {
        opacity: 1;
        left: 100%;
        transition: 1s;
    }

    50%{
        left: -100%;
        transition: 1s;
    }

    100%{
        left: -100%;
        transition: 1s;
    }
}

.order_tracking_text .fo_start_txt{
    -webkit-animation-name: text;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 5s;
}

.order_tracking_text .fo_deliver_txt{
    -webkit-animation-name: text;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 10s;
}

.OrderDesc{
    position: fixed;
    top: 112px;
    width: auto;
    color: #ac3c1a;
}

.order_details{
    height: 100%;
}

.order_details h1{
    font-size: 1.5vw;
    color: #a96d00;
}

.order_details form{
    display: grid;
    position: relative;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.order_details .labels{
    display: inline-block;
    float: left;

}

.order_details .inputs{
    display: inline-block;
}

.order_details label{
    display: block;
    margin-bottom: 10px;
    margin-right: 25px;
}

.order_details input, textarea{
    display: block;
    margin-bottom: 5px;
}

#submit{
    width: 20%;
    justify-self: flex-end;
    margin: 0;
    margin-top: 10px;
    cursor: pointer;
}

#validationMessage{
    position: absolute;
    bottom: 4px;
    justify-self: center;
    font-size: 13px;
    margin-right: 35px;
    color: red;
}

#validationMessage.success{
    color: green;
}